@font-face {
  font-family: "iconfont"; /* Project id 3267077 */
  src:url('iconfont.woff2') format('woff2'),
      url('iconfont.woff') format('woff'),
      url('iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bofang:before {
  content: "\e616";
}

.icon-zanting1:before {
  content: "\e629";
}

.icon-zhongzhi1:before {
  content: "\e704";
}

.icon-ico_opt_circle_close:before {
  content: "\e901";
}

.icon-ico_opt_circle_success:before {
  content: "\e902";
}

.icon-ico_opt_link:before {
  content: "\e903";
}

.icon-ico_opt_link1:before {
  content: "\e904";
}

.icon-xinjian:before {
  content: "\e8f9";
}

.icon-bianji:before {
  content: "\e8ea";
}

.icon-fuzhi:before {
  content: "\e8ec";
}

.icon-jingjianmoshi1:before {
  content: "\e8ed";
}

.icon-paixu:before {
  content: "\e8ef";
}

.icon-shanchu:before {
  content: "\e8f1";
}

.icon-a-zu3416:before {
  content: "\e8f2";
}

.icon-shuaxin:before {
  content: "\e8f5";
}

.icon-ico_opt_edit01:before {
  content: "\e8f6";
}

.icon-ico_opt_download:before {
  content: "\e8f7";
}

.icon-ico_doc_solid_data01:before {
  content: "\e8f8";
}

.icon-ico_operate_delete:before {
  content: "\e8fa";
}

.icon-ico_opt_copy:before {
  content: "\e8fb";
}

.icon-ico_opt_circle_add:before {
  content: "\e8fc";
}

.icon-ico_opt_search:before {
  content: "\e8fd";
}

.icon-ico_opt_export:before {
  content: "\e8fe";
}

.icon-ico_opt_layout_card:before {
  content: "\e8ff";
}

.icon-icon_online:before {
  content: "\e900";
}

.icon-jingjianmoshi:before {
  content: "\e8e9";
}

